.about-me-section {
  background-color: #1c1c1c;
  color: #f8f9fa;
  min-height: 70vh;
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
}

.about-me-wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.about-me-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.about-me-img {
  flex: 1 1 300px;
  max-width: 320px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.about-me-text {
  flex: 1 1 400px;  
  padding: 2rem;  
}

.about-me-text h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: 700;
}

.text-block {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;  
  color: #dee2e6;
  background-color: #2b2b2b;
  padding: 1rem;
  border-radius: 20px;
  text-align: justify;
}

.education-item {
  display: flex;
  align-items: center;
  gap: 1rem;  
}

.education-item i {
  font-size: 50px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f9fa;
}

/* Responsividade */
@media (max-width: 768px) {
  .about-me-content {
    flex-direction: column;
  }

  .about-me-img {
    width: 100%;
    max-width: 100%;
    border-radius: 15px;
  }

  .about-me-text {
    width: 100%;
  }
}
